<!doctype html>
<html>
    <head>
        <title>{{the_title}}</title>
        <style>

.dynamic-content {
    display:none;
}

img{align-content: center;}

body {
align-content: center;
  font-family:      Verdana, Geneva, Arial, sans-serif;
  font-size:        medium;
  background-color: tan;
  margin-top:       5%;
  margin-bottom:    5%;
  margin-left:      10%;
  margin-right:     10%;
  padding:          10px 10px 10px 10px;
}
        </style>
    </head>
    <body>
    {% block body %}
    {% endblock %}
    </body>
</html>
